# Server Port
PORT=5005

# MySQL Database Configuration
DB_HOST=your_mysql_host
DB_PORT=20945
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=aashray

# Google Drive Webhook URL (For payment receipts & photo uploads)
GOOGLE_DRIVE_WEBHOOK_URL="https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec"